<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1 style="margin:20px auto ; width: max-content;" id="msg"></h1>
           <label for="">Enter a password</label>
    <input type="password" placeholder="enter a new password">
    <button onclick="handleSubmit()">submit</button>

    <button onclick="handleNavigate()" id="btn" style="background-color: green; color: white; border-radius: 10px; padding: 8px 15px;">Login</button>

    <script>
        let btn = document.getElementById('btn')
        btn.style.display = 'none'

        let token = "<%= token  %>"
        console.log(token)


        let inputTag = document.querySelector('input');
        console.log(inputTag);

       async function handleSubmit(){
            // console.log("running")
            let value = inputTag.value;
            console.log(value)
            let res = await fetch(`http://localhost:8080/users/resetPassword/${token}`,{
                method:"POST",
                headers:{
                    'content-type':"application/json"
                },
                body:JSON.stringify({newPassword:value})
            })

            let data = await res.json()
            console.log(data)
            if(data.success){
                document.getElementById('msg').innerHTML = data.msg
                btn.style.display = 'block'
            }
            else{
                document.getElementById('msg').innerHTML = data.msg
            }

        }


        const handleNavigate = ()=>{
            window.location.href = "http://localhost:3000/login"
        }
    </script>
</body>
</html>